/MrKleans-Account-2/target/
/MrKleans-Account-2/node_modules/
/MrKleans-Account-2/bower_components/
/MrKleans-Account-2/src/main/resources/static/
/MrKleans-Account-2/debug.log
/MrKleans-Account-2/src/main/resources/META-INF/persistence.xml
/MrKleans-Account-2/upload-image
/MrKleans-Account-2/.idea
/MrKleans-Account-2/backups