/CarePointAccount/target/
/CarePointAccount/node_modules/
/CarePointAccount/bower_components/
/CarePointAccount/src/main/resources/static/
/CarePointAccount/debug.log
/CarePointAccount/src/main/resources/META-INF/persistence.xml
/CarePointAccount/src/site/index.html
/CarePointAccount/upload-image
/CarePointAccount/.idea
/CarePointAccount/bower_components/