<div class="index-content-header"></div>

<div class="index-content-body ">
    <div class="col-xs-4">
        <table class="table-rounded control-table">
            <colgroup>
                <col style="width: 100%">
            </colgroup>
            <tbody>
                <tr class="select-primary-row-table-header">
                    <td><label class="control-label text-center">SUPPLIER PAYMENT</label></td>
                </tr>
            </tbody>
        </table>
        <table class="table-rounded control-table">
            <colgroup>
                <col style="width: 40%">
                <col style="width: 60%">
            </colgroup>
            <tbody>
                <tr >
                    <td>
                        <label class="control-label text-center">SELECT SUPPLIER :</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="model.data.typeIndexNo" 
                               uib-typeahead="supplier.indexNo as (supplier.indexNo + ' - ' + supplier.name) for supplier in model.supplierList |filter:$viewValue | limitTo:10" 
                               typeahead-input-formatter="model.supplierLable(model.data.typeIndexNo)" 
                               typeahead-on-select="model.getPayableBills(model.data.typeIndexNo);"
                               typeahead-editable="false"
                               ng-disabled="ui.mode !== 'NEW'"
                               id="supplier"/>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-xs-12 background-light nopadding">
            <div class="row col-xs-12 nopadding">
                <table class="table-rounded control-table square-table">
                    <col style="width: 22%"/>
                    <col style="width: 22%"/>
                    <col style="width: 25%"/>
                    <col style="width: 31%"/>
                    <tbody>
                        <tr>
                            <td>
                                CASH
                                <input type="radio" name='type' checked style="margin-left: 10px" ng-model="model.typeCash" 
                                       ng-click="ui.checkType('CASH')"
                                       ng-disabled="ui.mode !== 'NEW'"/>
                            </td>
                            <td>
                                BANK
                                <input type="radio" name='type' style="margin-left: 10px" ng-model="model.typeBank" 
                                       ng-click="ui.checkType('BANK')"
                                       ng-disabled="ui.mode !== 'NEW'"/>
                            </td>
                            <td>
                                ONLINE
                                <input type="radio" name='type' style="margin-left: 10px" ng-model="model.typeOnline" 
                                       ng-click="ui.checkType('ONLINE')"
                                       ng-disabled="ui.mode !== 'NEW'"/>
                            </td>
                            <td>
                                OVER PMT
                                <input type="radio" name='type' style="margin-left: 10px" ng-model="model.typeOverPayment" 
                                       ng-click="ui.checkType('OVER_PAYMENT')"
                                       ng-disabled="ui.mode !== 'NEW' || !model.data.overAmount"/>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="background-dark">

            <table class="table-rounded control-table" style="padding: 3px;">
                <colgroup>
                    <col style="width: 40%">
                    <col style="width: 60%">
                </colgroup>
                <tbody>
                    <tr class="background-light">
                        <td>
                            <label class="control-label text-center">Select Account :</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model='model.data.accAccount'
                                   uib-typeahead="account.indexNo as (account.accCode + ' - ' + account.name) for account in model.typeAccAccountList |filter:$viewValue | limitTo:10" 
                                   typeahead-input-formatter="model.accountLable(model.data.accAccount)" 
                                   typeahead-on-select="model.getValue(model.data.accAccount)"
                                   typeahead-editable="false"
                                   ng-disabled="ui.mode !== 'NEW' || model.data.accType==='OVER_PAYMENT'"
                                   id="account"
                                   />
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table-rounded control-table" style="padding: 3px;" ng-show="model.data.accType!=='OVER_PAYMENT'">
                <colgroup>
                    <col style="width: 40%">
                    <col style="width: 60%">
                </colgroup>
                <tbody>
                    <tr class="background-light">
                        <td>
                            <label class="control-label text-center">Account Value:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control text-right" ng-model='model.data.value'
                                   ng-disabled="true"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table class="table-rounded control-table">
            <colgroup>
                <col style="width: 40%">
                <col style="width: 60%">
            </colgroup>
            <tbody>
                <tr >
                    <td>
                        <label class="control-label text-center">PAY TOTAL :</label>
                    </td>
                    <td>
                        <input type="text" smart-input="decimal" class="form-control text-right" ng-model='model.data.credit' 
                               ng-disabled="ui.mode !== 'NEW'" ng-change="model.changePayAmount()"/>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-rounded control-table" ng-show="model.data.accType==='BANK'">
            <colgroup>
                <col style="width: 40%">
                <col style="width: 60%">
            </colgroup>
            <tbody>
                <tr >
                    <td>
                        <label class="control-label text-center">CHEQUE NO :</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model='model.data.refNumber'/>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-rounded control-table" ng-show="model.data.accType==='BANK'">
            <colgroup>
                <col style="width: 40%">
                <col style="width: 60%">
            </colgroup>
            <tbody>
                <tr >
                    <td>
                        <label class="control-label text-center">CHEQUE DATE :</label>
                    </td>
                    <td>
                        <input type="DATE" class="form-control" ng-model='model.data.chequeDate'/>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-rounded control-table" ng-show="model.data.accType!=='BANK'">
            <colgroup>
                <col style="width: 40%">
                <col style="width: 60%">
            </colgroup>
            <tbody>
                <tr >
                    <td>
                        <label class="control-label text-center">REF NUMBER :</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model='model.data.refNumber'/>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-rounded control-table">
            <colgroup>
                <col style="width: 40%">
                <col style="width: 60%">
            </colgroup>
            <tbody>
                <tr >
                    <td>
                        <label class="control-label">OVER PAYMENT SETTLEMENT :</label>
                    </td>
                    <td>
                        <input type="text" class="form-control text-right" ng-model='model.data.overAmount' ng-disabled='true'/>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-xs-8 background-dark">
        <div class="row" style="display: flex; flex-flow: column; padding: 5px">

            <div class="row col-xs-12 nopadding" style="flex: 0 0 auto;">
                <table class="table-rounded control-table">
                    <col style="width: 33.3%"/>
                    <col style="width: 33.3%"/>
                    <col style="width: 33.3%"/>
                    <tbody>
                        <tr>
                            <td>
                                Number :
                                <input type="text" class="form-control" ng-model="model.data.number" 
                                       ng-disabled="ui.mode !== 'IDEAL'" />    
                            </td>
                            <td>
                                Transaction Date :
                                <input class="form-control" placeholder="" type="date" ng-model="model.data.transactionDate" ng-disabled="ui.mode !== 'NEW'" >
                            </td>
                            <td>
                                Description :
                                <input class="form-control" placeholder="" ng-model="model.data.description" ng-disabled="ui.mode !== 'NEW'" >
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <table class="table-rounded control-table">
                <colgroup>
                    <col style="width: 100%">
                </colgroup>
                <tbody>
                    <tr class="select-primary-row-table-header">
                        <td><label class="control-label text-center">BILL DETAILS</label></td>
                    </tr>
                </tbody>
            </table>

            <table class="table-rounded control-table">
                <colgroup>
                    <col style="width: 14%"/>
                    <col style="width: 20%"/>
                    <col style="width: 13%"/>
                    <col style="width: 14%"/>
                    <col style="width: 14%"/>
                    <col style="width: 25%"/>
                </colgroup>
                <tbody>
                    <tr>
                        <td><label>Ref No</label></td>
                        <td><label>Transaction Date</label></td>
                        <td><label>Bill Amount</label></td>
                        <td><label>Paid Amount</label></td>
                        <td><label>Balance</label></td>
                        <td><label>Pay Amount</label></td>

                    </tr>
                </tbody>
            </table>
            <div class="smart-scroll-y" style="height: calc(100vh - 285px)" ng-show="model.billList.length">
                <table class="table-rounded control-table table-hover">
                    <col style="width: 14%"/>
                    <col style="width: 20%"/>
                    <col style="width: 13%"/>
                    <col style="width: 14%"/>
                    <col style="width: 14%"/>
                    <col style="width: 25%"/>
                    <tbody>
                        <tr ng-repeat="bill in model.billList | orderBy:'transactionDate'">
                            <td><label>{{bill.refNumber===null?'- - -':bill.refNumber}}</label></td>
                            <td><label>{{bill.transactionDate}}</label></td>
                            <td><label>{{bill.credit | number:2}}</label></td>
                            <td><label>{{bill.debit | number:2}}</label></td>
                            <td><label>{{(bill.credit - bill.debit)| number:2}}</label></td>
                            <td><input smart-input="decimal" class="form-control text-right" ng-model="bill.pay" ng-change="model.changePayAmount()" ng-focus="model.setBalanceAmountToPay(bill);"> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="placeholder col-md-12" ng-hide="model.billList.length" style="height: calc(100vh - 300px); padding: 0px 10px 0px 10px;">
                <h1>DETAILS EMPTY :(</h1>
            </div>
            <table class="table-rounded control-table">
                <col style="width: 25%"/>
                <col style="width: 25%"/>
                <col style="width: 25%"/>
                <col style="width: 25%"/>
                <tbody>
                    <tr>
                        <td><label>Over Pay Amount</label></td>
                        <td><input class="form-control text-right" ng-model="model.data.overPay | number:2"
                                   ng-disabled="true" > 
                        </td>
                        <td><label>Pay Amount</label></td>
                        <td><input class="form-control text-right" ng-model="model.data.billTotal |number:2"
                                   ng-disabled="true" > 
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>


</div>

<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
</div>



