<div class="index-content-header"></div>

<div class="index-content-body ">

    <div class="col-xs-3 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 53px);padding: 5px">
            <div class="row col-xs-12 nopadding" style="flex: 0 0 auto;">
                <table class="table-rounded control-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td>
                                <label class="control-label">Transaction Type</label>
                                <input class="form-control" type="text" ng-model="model.data.formName" ng-disabled="ui.mode !== 'NEW'" >
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row col-xs-12 nopadding" style="flex: 0 0 auto;">
                <table class="table-rounded control-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td>
                                <label class="control-label">Date</label>
                                <input class="form-control" type="date" id="date" ng-model="model.data.transactionDate" ng-disabled="ui.mode !== 'NEW'">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row col-xs-12 nopadding" style="flex: 0 0 auto;">
                <table class="table-rounded control-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td>
                                <label class="control-label">Description</label>
                                <input class="form-control" ng-model="model.data.description" ng-disabled="ui.mode !== 'NEW'">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table class="table-rounded control-table">
                <colgroup>
                    <col style="width: 100%">
                </colgroup>
                <tbody>
                    <tr class="select-primary-row-table-header">
                        <td><label class="control-label text-center">ACCOUNT DETAILS</label></td>
                    </tr>
                </tbody>
            </table>

            <div class="row col-xs-12 nopadding" ng-show="model.accflowList.length" style="flex: 0 0 auto;">
                <table class="table-rounded control-table">
                    <col style="width: 30%"/>
                    <col style="width: 70%"/>
                    <tbody>
                        <tr ng-repeat="acc in model.accflowList| orderBy:'accCode'">
                            <td>
                                <label class="label label-default"> {{acc.accCode}}</label>
                            </td>
                            <td ng-if='acc.level === "1"' style="padding-left: 0px">
                                {{acc.name}}
                            </td>
                            <td ng-if='acc.level === "2"' style="padding-left: 5px">
                                {{acc.name}}
                            </td>
                            <td ng-if='acc.level === "3"' style="padding-left: 10px">
                                {{acc.name}}
                            </td>
                            <td ng-if='acc.level === "4"' style="padding-left: 15px">
                                {{acc.name}}
                            </td>
                            <td ng-if='acc.level === "5"' style="padding-left: 20px">
                                {{acc.name}}
                            </td>
                            <td ng-if='acc.level === "6"' style="padding-left: 25px">
                                {{acc.name}}
                            </td>
                            <td ng-if='acc.level === "7"' style="padding-left: 30px">
                                {{acc.name}}
                            </td>
                            <td ng-if='acc.level === "8"' style="padding-left: 30px">
                                {{acc.name}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="placeholder" ng-hide="model.accflowList.length" style="height: calc(100vh - 416px); padding: 0px 10px 10px 10px;">
                <h1>account flow chart :(</h1>
            </div>
        </div>
    </div>

    <div class="col-xs-9 background-light">
        <div class="row col-xs-12 nopadding">
            <table class="table-rounded control-table square-table">
                <col style="width: 20%"/>
                <col style="width: 15%"/>
                <col style="width: 15%"/>
                <col style="width: 15%"/>
                <col style="width: 15%"/>
                <col style="width: 15%"/>
                <col style="width: 5%"/>
                <tbody>
                    <tr>
                        <td>
                            <label class="control-label">Account Name</label>
                            <input type="text" class="form-control" ng-model="model.tempData.accAccount" 
                                   uib-typeahead="account.indexNo as (account.accCode + ' - ' + account.name) for account in model.accAccountList |filter:$viewValue |limitTo:10" 
                                   typeahead-input-formatter="model.accountLable(model.tempData.accAccount)" 
                                   typeahead-on-select="model.setMainAccount(model.tempData.accAccount)"
                                   typeahead-editable="false"
                                   ng-disabled="ui.mode !== 'NEW'" />
                        </td>
                        <td>
                            <label class="control-label">Branch</label>
                            <input type="text" class="form-control" ng-model="model.tempData.branch" 
                                   uib-typeahead="branch.indexNo as (branch.branchCode + ' - ' + branch.name) for branch in model.branchList |filter:$viewValue|limitTo:10" 
                                   typeahead-input-formatter="model.branchLable(model.tempData.branch)" 
                                   typeahead-editable="false"
                                   ng-disabled="ui.mode !== 'NEW'" />
                        </td>
                        <td>
                            <label class="control-label">Cost Dep.</label>
                            <input class="form-control" ng-model="model.tempData.costDepartment" 
                                   uib-typeahead="data.indexNo as (data.indexNo + ' - ' + data.name) for data in model.activeCostDepartmentList | filter:$viewValue | limitTo:10" 
                                   typeahead-input-formatter="model.activeCostDepartmentLable($model);" 
                                   ng-disabled="ui.mode !== 'NEW'">
                        </td>
                        <td>
                            <label class="control-label">Cost Center</label>
                            <input class="form-control" ng-model="model.tempData.costCenter" 
                                   uib-typeahead="data.indexNo as (data.indexNo + ' - ' + data.name) for data in model.activeCostCenterList | filter:$viewValue | limitTo:10" 
                                   typeahead-input-formatter="model.activeCostCenterLable($model);" 
                                   ng-disabled="ui.mode !== 'NEW'">
                        </td>
                        <td>
                            <label class="control-label">Debit</label>
                            <input class="form-control" smart-input="decimal" ng-model="model.tempData.debit" ng-disabled="ui.mode !== 'NEW'">
                        </td>
                        <td>
                            <label class="control-label">Credit</label>
                            <input class="form-control" smart-input="decimal" ng-model="model.tempData.credit" ng-keypress="ui.focusAddFunction($event)" ng-disabled="ui.mode !== 'NEW'">
                        </td>
                        <td>
                            <a class="btn btn-primary" style="margin-top: 28px" id="btnAddData" ng-click="ui.addData()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-9" ng-show="model.dataList.length">
        <table class="table-rounded " >
            <col style="width: 20%"/>
            <col style="width: 11%"/>
            <col style="width: 15%"/>
            <col style="width: 15%"/>
            <col style="width: 15%"/>
            <col style="width: 15%"/>
            <col style="width: 9%"/>

            <thead class="background-dark">
                <tr>
                    <th>Account Name</th>
                    <th>Branch</th>
                    <th>Cost Dep.</th>
                    <th>Cost Center</th>
                    <th class="text-right">Debit</th>
                    <th class="text-right">Credit</th>
                    <th></th>
                </tr>
            </thead>
        </table>
        <div class="smart-scroll-y" style="height: calc(100vh - 225px);">
            <table class="background-light table-rounded table-hover">
                <col style="width: 20%"/>
                <col style="width: 11%"/>
                <col style="width: 15%"/>
                <col style="width: 15%"/>
                <col style="width: 15%"/>
                <col style="width: 15%"/>
                <col style="width: 9%"/>
                <tbody>
                    <tr ng-repeat='data in model.dataList'>
                        <td class="over-flow-hidden">{{model.accountLable(data.accAccount)}}</td>
                        <td>{{model.branchLable(data.branch)}}</td>
                        <td>{{data.costDepartment===""?"- - -":model.activeCostDepartmentLable(data.costDepartment)}}</td>
                        <td>{{data.costCenter===""?"- - -":model.activeCostCenterLable(data.costCenter)}}</td>
                        <td class="text-right">{{data.debit}}</td>
                        <td class="text-right">{{data.credit}}</td>
                        <td>
                            <a class="btn btn-success" ng-click="ui.edit($index, data)"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-danger" ng-click="ui.delete($index)"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="placeholder col-md-9" ng-hide="model.dataList.length" style="height: calc(100vh - 200px); padding: 0px 10px 10px 10px;">
        <h1>JOURNAL DETAILS EMPTY :(</h1>
    </div>
    <div class="col-xs-12 nopadding" style="position: fixed;bottom: 1px;">
        <table class="table-rounded background-dark col-lg-12">
            <col style="width: 20%"/>
            <col style="width: 30%"/>
            <col style="width: 11%"/>
            <col style="width: 11%"/>
            <col style="width: 11%"/>
            <col style="width: 11%"/>
            <col style="width: 6%"/>
            <tbody>
                <tr class="background-dark">
                    <td></td>
                    <td></td>
                    <td class="text-right"><b>TOTAL DEBIT:</b></td>
                    <td><input class="form-control text-right" placeholder="total" ng-model="model.data.totalDebit" ng-disabled="true"></td>
                    <td class="text-right"><b>TOTAL CREDIT:</b></td>
                    <td><input class="form-control text-right" placeholder="total" ng-model="model.data.totalCredit" ng-disabled="true"></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
</div>