<div class="index-content-header">
</div>

<div class="index-content-body">
    <div class="col-xs-12 background-dark">
        <div class="row col-xs-4 nopadding">
            <table class="table-rounded control-table">
                <col style="width: 40%"/>
                <col style="width: 60%"/>
                <tbody>
                    <tr>
                        <td>
                            <label>Select User</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="model.selectedUser" id="user"
                                   uib-typeahead="user.indexNo as (user.indexNo + ' - ' + user.name) for user in model.userList |filter:$viewValue|limitTo:10" 
                                   typeahead-input-formatter="model.userLabel($model)" 
                                   typeahead-editable="false"
                                   typeahead-on-select="ui.selectUser($model)"
                                   ng-disabled="ui.mode !== 'NEW'"
                                   /> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-8" >
            <table class="table-rounded control-table">
                <col style="width: 33.3%"/>
                <col style="width: 33.3%"/>
                <col style="width: 33.3%"/>
                <tbody>
                    <tr style="line-height: 40px;">
                        <td>
                            <label>Branch : &nbsp;&nbsp;</label>
                            <label class="text-primary">{{model.branchLable(model.selectedUser)}}</label>
                        </td>
                        <td>
                            <label>User Name : &nbsp;&nbsp;</label>
                            <label class="text-primary">{{model.getUser(model.selectedUser).name}}</label>
                        </td>
                        <td>
                            <label>Password : &nbsp;&nbsp;</label>
<!--                            <label class="text-primary">{{model.getUser(model.selectedUser).password}}</label>-->
                            <label class="text-primary">* * *</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 nopadding" >
            <table class="table-rounded control-table">
                <col style="width: 18%"/>
                <col style="width: 18%"/>
                <col style="width: 18%"/>
                <col style="width: 18%"/>
                <col style="width: 18%"/>
                <col style="width: 18%"/>
                <tbody>
                    <tr style="line-height: 40px;">
                        <td>
                            <label>Form Name &nbsp;&nbsp;</label>
                        </td>
                        <td>
                            <input type="checkbox" ng-model="model.permission.all" ng-click="ui.permissionTypeClick('all', model.permission.all)"/>
                            <label>&nbsp;&nbsp;All Permission </label>
                        </td>
                        <td>
                            <input type="checkbox" ng-model="model.permission.view" ng-click="ui.permissionTypeClick('view', model.permission.view)"/>
                            <label>&nbsp;&nbsp;View </label>
                        </td>
                        <td>
                            <input type="checkbox" ng-model="model.permission.add" ng-click="ui.permissionTypeClick('add', model.permission.add)"/>
                            <label>&nbsp;&nbsp;Add </label>
                        </td>
                        <td>
                            <input type="checkbox" ng-model="model.permission.update" ng-click="ui.permissionTypeClick('update', model.permission.update)"/>
                            <label>&nbsp;&nbsp;Edit </label>
                        </td>
                        <td>
                            <input type="checkbox" ng-model="model.permission.delete" ng-click="ui.permissionTypeClick('delete', model.permission.delete)"/>
                            <label>&nbsp;&nbsp;Delete </label>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12 background-dark">
        <div class="smart-scroll-y" style="height: calc(100vh - 155px);padding-top: 10px">
            <div class="col-xs-12 nopadding" style="display: inline-flex;" ng-repeat="permission in model.detailList">
                <div class="col-xs-12 nopadding" >
                    <table class="table-rounded control-table">
                        <col style="width: 36%"/>
                        <col style="width: 18%"/>
                        <col style="width: 18%"/>
                        <col style="width: 18%"/>
                        <col style="width: 18%"/>
                        <tbody>
                            <tr style="line-height: 40px;">
                                <td>
                                    <label class="text-primary">{{model.formLabel(permission.formName)}}</label>
                                </td>
                                <td>
                                    <input type="checkbox" ng-model="permission.view"/>
                                </td>
                                <td>
                                    <input type="checkbox" ng-model="permission.add"/>
                                </td>
                                <td>
                                    <input type="checkbox" ng-model="permission.update"/>
                                </td>
                                <td>
                                    <input type="checkbox" ng-model="permission.delete"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="fab-container">
    <a class="fab fab-success" ng-show="ui.mode === 'NEW'" ng-click="ui.refresh();"><i class="glyphicon glyphicon-refresh"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
</div>
