<div class="index-content-header">
</div>

<div class="index-content-body">
    <uib-tabset>
        <uib-tab heading="SETTING 01" index="0" select="ui.toggleType('SETTING1');">

            <div class="col-xs-12 background-dark">
                <div class="smart-scroll-y" style="height: calc(100vh - 92px);padding-top: 10px">
                    <div class="col-xs-3" style="display: inline-flex;" ng-repeat="setting in model.accSettingList">
                        <div class="panel" ng-class="setting.accAccount !== null ? 'panel-primary' : 'panel-danger'" style="width: 100%">
                            <div class="panel-heading" ng-init="ui.end()">{{setting.name}}</div>
                            <div class="panel-body">
                                <label style="padding-bottom: 10px">
                                    {{setting.description| uppercase}}
                                </label>
                                <input type="text" class="form-control" ng-model="setting.tempAccount"
                                       uib-typeahead="acc.indexNo as (acc.accCode + ' - ' + acc.name) for acc in model.accAccountList | filter:$viewValue | filter:{accMain:setting.filter} | limitTo:10 | orderBy:'accCode'" 
                                       typeahead-input-formatter="model.accAccountLabel(setting.tempAccount)" 
                                       typeahead-editable="false"
                                       ng-disabled="ui.mode !== 'NEW'"
                                       ng-init="ui.setTimeOut()"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="SETTING 02" index="1" select="ui.toggleType('SETTING2');">
            <div class="col-sm-4 nopadding" style="height: calc(100vh - 92px)">
                <table class="square-table background-dark">
                    <col style="width: 80%"/>
                    <col style="width: 20%"/>
                    <tbody>
                        <tr>
                            <td><label class="control-label">Create a New Backup</label></td>
                            <td><a ng-click="ui.createBackup()" style="background-color: #009688" class="btn"><span class="glyphicon glyphicon-ok"></span></a></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-8 background-dark" style="height: calc(100vh - 92px)">
                <div class="placeholder col-md-12" ng-hide="false" style="height: calc(100vh - 112px); padding: 0px 10px 10px 10px;">
                    <h1>NEW ACCOUNT SETTING COMMING SOON :(</h1>
                </div>
                <div class="col-md-12" style="height: 100%" ng-hide="true">
                    <iframe src="http://123.231.112.90:8070" width="100%" height="100%"></iframe>
                </div>
            </div>
            <!--            <div class="col-sm-4 background-dark" style="height: calc(100vh - 92px)">
            
                        </div>-->
        </uib-tab>
    </uib-tabset>
</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL' && ui.tabMode === 'SETTING1'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW' && ui.tabMode === 'SETTING1'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
</div>
