<div class="index-content-header"></div>

<div class="index-content-body" style="height: calc(100vh - 52px)">
    <div class="row col-lg-12 nopadding" ng-show="false" style="border-bottom: 1px solid #ccc5c5">
        <div class="col-lg-6 col-md-12 col-xs-12" style="padding-bottom: 10px">
            <div class="col-lg-5">
                <label class="control-label">FROM DATE :</label>
                <input type="date" class="form-control" ng-model="model.filter.fromDate"/>
            </div>
            <div class="col-lg-5">
                <label class="control-label">TO DATE :</label>
                <input type="date" class="form-control" ng-model="model.filter.toDate"/>
            </div>
            <div class="col-lg-2">
                <table class="table-rounded control-table square-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td>
                                <a class="btn btn-primary" style="margin-top: 16px" ng-click="ui.filterDashboard()">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <!--//temp-->    
    <div class="col-sm-4">
        <div class=" panel panel-primary">
            <div class="panel-heading "> Trial Balance</div>
            <div class="panel-body">
                <canvas id="doughnut" class="chart chart-doughnut"
                        chart-data="model.dashBoardMainData" chart-labels="model.dashBoardMainLable"
                        chart-colors="colors4" chart-click="onClick">
                </canvas> 
            </div>
        </div>
    </div>
    <!--//temp-->

    <div class="smart-scroll-y col-lg-12" style="height: calc(100vh - 129px);padding-top: 3px"  ng-show="false">

        <div class="row nopadding">
            <div class="col-sm-4">
                <div class=" panel panel-primary">
                    <div class="panel-heading "> Trial Balance</div>
                    <div class="panel-body">
                        <canvas id="doughnut" class="chart chart-doughnut"
                                chart-data="model.dashBoardMainData" chart-labels="model.dashBoardMainLable"
                                chart-colors="colors4" chart-click="onClick">
                        </canvas> 
                    </div>
                </div>
            </div>
            <div class="col-sm-4" >
                <div class=" panel panel-primary">
                    <div class="panel-heading "> Ledger Type Count</div>
                    <div class="panel-body">
                        <canvas id="bar" class="chart chart-bar"
                                chart-data="model.ledgerTypeValues" chart-labels="model.ledgerTypeLabels" 
                                chart-series="series" chart-colors="colors4">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" >
                <div class=" panel panel-primary">
                    <div class="panel-heading "> Expense Income</div>
                    <div class="panel-body">
                        <canvas id="bar" class="chart chart-bar"
                                chart-data="model.db2Values" chart-labels="model.db2Labels" 
                                chart-series="series2" chart-colors="colors4">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row nopadding" >
            <div class="col-sm-4">
                <div class=" panel panel-primary">
                    <div class="panel-heading "> Current Assets Analysis</div>
                    <div class="panel-body">
                        <canvas id="bar" class="chart chart-bar" chart-data="model.dashboardValues4"
                                chart-labels="model.dashboardLabels4" chart-series=""
                                chart-click="onClick4"  chart-colors="colors4">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" >
                <div class=" panel panel-primary">
                    <div class="panel-heading "> Current Liabilities Analysis</div>
                    <div class="panel-body">
                        <canvas id="bar" class="chart chart-bar" chart-data="model.dashboardValues5"
                                chart-labels="model.dashboardLabels5" chart-series=""
                                chart-click="onClick5"  chart-colors="colors4">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" >
                <div class=" panel panel-primary">
                    <div class="panel-heading "> test 06</div>
                    <div class="panel-body">
                        <canvas class="chart chart-bar" id="bar" chart-data="data4" 
                                chart-options="options4" chart-labels="labels4" chart-colors="colors4">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row nopadding" >
            <div class="col-sm-4">
                <div class=" panel panel-primary">
                    <div class="panel-heading "> test 07</div>
                    <div class="panel-body">
                        <canvas id="tables" class="chart chart-line" chart-data="data4" 
                                chart-options="options4" chart-labels="labels4" chart-colors="colors4" 
                                >
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class=" panel panel-primary">
                    <div class="panel-heading "> test 08</div>
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line" chart-data="data4"
                                chart-labels="labels4" chart-series="series4" chart-options="options4"
                                chart-click="onClick4" chart-colors="colors4">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class=" panel panel-primary">
                    <div class="panel-heading "> test 09</div>
                    <div class="panel-body">
                        <canvas class="chart chart-bar" id="bar" chart-data="data4" 
                                chart-options="options4" chart-labels="labels4" chart-colors="colors4">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row nopadding" >

            <div class="col-sm-4">
                <div class=" panel panel-primary">
                    <div class="panel-heading "> test 10</div>
                    <div class="panel-body">
                        <canvas id="tables" class="chart chart-line" chart-data="data4" 
                                chart-options="options4" chart-labels="labels4" chart-colors="colors4" 
                                >
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class=" panel panel-primary">
                    <div class="panel-heading "> test 11</div>
                    <div class="panel-body">
                        <canvas class="chart chart-bar" id="bar" chart-data="data4" 
                                chart-options="options4" chart-labels="labels4" chart-colors="colors4">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class=" panel panel-primary">
                    <div class="panel-heading "> test 12</div>
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line" chart-data="data4"
                                chart-labels="labels4" chart-series="series4" chart-options="options4"
                                chart-click="onClick4"  chart-colors="colors4">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="detailPopup.html">
    <div class="col-lg-12 background-light no-padding modal-dialog-1200">
    <div class="row">
    <div class="modal-header bg-primary">
    <center>
    Test Model
    </center>

    </div>
    <div class="modal-body" style="height:450px;padding-left:0px;padding-right:0px">
    <div class="col-lg-12">
    <input type="text" class="search-input" ng-model="searchText" placeholder="search here..">
    </div>

    <div class="col-xs-12 ">
    <table class="table table-striped table-bordered table-hover" style="width:100%">
    <tr>
    <th ng-repeat="column in cols">{{column}}</th>
    </tr>
    <tr ng-repeat="row in rows">
    <td ng-repeat="column in cols">{{row[column]}}</td>
    </tr>
    </table>
    </div>
    </div>
    </div>
    </div>
</script>