<!DOCTYPE html>
<html>
    <head>
        <title>SuperVisionTechnology</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="img/cash.png">

        <!--css-->
        <!-- inject:css -->
        <!-- endinject -->

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    </head>
    <body ng-app="appModule" ng-controller="appController">
        <!--side panel-->
        <div class="side-bar-left background-ultra-dark" ng-class="hamburgerOpen ? 'side-bar-hidden' : ''">
            <div>
                <div class="brand">

                    <div class="brand-text">{{companyName}}</div>
                </div>

                <div class="user">
                    <div class="name">
                        <span>{{loginUser}}</span>
                    </div>
                </div>

                <div class="index-sidebar-navigation smart-scroll-y" style="height: calc(100vh - 100px)">
                    <ul>

                        <li> 
                            <a class="menu-header">HOME</a>
                            <ul>
                                <li><a href="#/account/home" ng-click="toggleHamburger('Home');">HOME</a></li> 
                            </ul>
                        </li>

                        <li ng-show="ui.includeList(['Item Sales', 'Customer Payment', 'Purchase Order Request',
                                            'Purchase Order Approve', 'Grn Request', 'Grn Approve', 'Grn Direct', 'Supplier Return'])"> 
                            <a class="menu-header">SERVICE</a>
                            <ul>
                                <li ng-show="ui.include('Item Sales')"><a href="#/service/item-sales" ng-click="toggleHamburger('Item Sales');">Item Sales</a></li> 
                                <li ng-show="ui.include('Customer Payment')"><a href="#/service/customer-payment" ng-click="toggleHamburger('Customer Payment');">Customer Payment</a></li> 
                                <li ng-show="ui.include('Purchase Order Request')"><a href="#/service/purchase-order-request" ng-click="toggleHamburger('Purchase Order Request');">Purchase Order Request</a></li> 
                                <li ng-show="ui.include('Purchase Order Approve')"><a href="#/service/purchase-order-approve" ng-click="toggleHamburger('Purchase Order Approve');">Purchase Order Approve</a></li> 
                                <li ng-show="ui.include('Grn Request')"><a href="#/service/grn-request" ng-click="toggleHamburger('Grn Request');">Grn Request</a></li> 
                                <li ng-show="ui.include('Grn Approve')"><a href="#/service/grn-approve" ng-click="toggleHamburger('Grn Approve');">Grn Approve</a></li> 
                                <li ng-show="ui.include('Grn Direct')"><a href="#/service/grn-direct" ng-click="toggleHamburger('Grn Direct');">Grn Direct</a></li> 
                                <li ng-show="ui.include('Supplier Return')"><a href="#/service/supplier-return" ng-click="toggleHamburger('Supplier Return');">Supplier Return</a></li> 
                            </ul>
                        </li>
                        <li ng-show="ui.includeList(['Journal', 'General Voucher', 'Bank Reconciliation', 'Fund Transfer',
                                            'Accrued Bill', 'Supplier Payment', 'Return Cheque', 'Trial Balance'])"> 
                            <a class="menu-header">TRANSACTION</a>
                            <ul>
                                <li ng-show="ui.include('Journal')"><a href="#/transaction/journal" ng-click="toggleHamburger('Journal');">Journal</a></li> 
                                <li ng-show="ui.include('General Voucher')"><a href="#/transaction/general-voucher" ng-click="toggleHamburger('General Voucher');">General Voucher</a></li>    
                                <li ng-show="ui.include('Bank Reconciliation')"><a href="#/transaction/bank-reconciliation" ng-click="toggleHamburger('Bank Reconciliation');">Bank Reconciliation</a></li>    
                                <li ng-show="ui.include('Fund Transfer')"><a href="#/transaction/fund-transfer" ng-click="toggleHamburger('Fund Transfer');">Fund Transfer</a></li>    
                                <li ng-show="ui.include('Accrued Bill')"><a href="#/transaction/accrued-bill" ng-click="toggleHamburger('Accrued Bill');">Accrued Bill</a></li>    
                                <li ng-show="ui.include('Supplier Payment')"><a href="#/transaction/supplier-payment" ng-click="toggleHamburger('Supplier Payment');">Supplier Payment</a></li>    
                                <li ng-show="ui.include('Return Cheque')"><a href="#/transaction/return-cheque" ng-click="toggleHamburger('Return Cheque');">Return Cheque</a></li>    
                                <li ng-show="ui.include('Trial Balance')"><a href="#/transaction/trial-balance" ng-click="toggleHamburger('Trial Balance');">Trial Balance</a></li>    
                                <li ng-show="ui.include('Edit Transaction')"><a href="#/transaction/edit-transaction" ng-click="toggleHamburger('Edit Transaction');">Edit Transaction</a></li>    
                                <li ng-show="ui.include('Profit and lost')"><a href="#/transaction/profit-and-lost" ng-click="toggleHamburger('Profit and lost');">Profit And Lost</a></li>    
                            </ul>
                        </li>
                        <li ng-show="ui.include('Reports')">
                            <a class="menu-header">REPORTS</a>
                            <ul>
                                <li ng-show="ui.include('Reports')"><a href="#/reports/general/report-viewer" ng-click="toggleHamburger('Reports');">REPORTS</a></li>
                            </ul>
                        </li>
                        <li ng-show="ui.includeList(['Create Account', 'Item Registration', 'Client Registration',
                                            'Supplier Registration', 'Cost Center','Cost Department','Budget'])"> 
                            <a class="menu-header">REGISTRATION</a>
                            <ul>
                                <li ng-show="ui.include('Create Account')"><a href="#/master/create-account" ng-click="toggleHamburger('Create Account');">Create Accounts</a></li>
                                <li ng-show="ui.include('Item Registration')"><a href="#/master/item" ng-click="toggleHamburger('Item Registration');">Item Registration</a></li>
                                <li ng-show="ui.include('Client Registration')"><a href="#/master/client" ng-click="toggleHamburger('Client Registration');">Client Registration</a></li>
                                <li ng-show="ui.include('Supplier Registration')"><a href="#/master/supplier" ng-click="toggleHamburger('Supplier Registration');">Supplier Registration</a></li>
                                <li ng-show="ui.include('Cost Center')"><a href="#/master/cost-center" ng-click="toggleHamburger('Cost Center');">Cost Center</a></li>
                                <li ng-show="ui.include('Cost Department')"><a href="#/master/cost-department" ng-click="toggleHamburger('Cost Department');">Cost Department</a></li>
                                <li ng-show="ui.include('Budget')"><a href="#/master/budget" ng-click="toggleHamburger('Budget');">Budget</a></li> 
                            </ul>
                        </li>
                        <li ng-show="ui.includeList(['Account Setting', 'User Permission', 'Code Setting'])"> 
                            <a class="menu-header">SETTING</a>
                            <ul>
                                <li ng-show="ui.include('Account Setting')"><a href="#/setting/account-settings" ng-click="toggleHamburger('Account Setting');">Account Setting</a></li>
                                <li ng-show="ui.include('User Permission')"><a href="#/setting/user-permission" ng-click="toggleHamburger('User Permission');">User Permission</a></li>
                                <li ng-show="ui.include('Code Setting')"><a href="#/setting/acc-code-setting" ng-click="toggleHamburger('Code Setting');">Code Setting</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end side panel-->
        <div class="index-middle">
            <div class="index-header background-light">

                <div class="hamburger" ng-click="toggleHamburger();" >
                    <div ng-class="hamburgerOpen ? '' : 'open'">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="col-xs-1">
                    <!--//space for hambager-->
                </div>
                <div class="col-xs-3">
                    <span class="text-primary">
                        {{companyName}}
                    </span>
                    <span class="text-default">
                        |
                    </span>
                    <span class="text-default">
                        {{currentPageName}}
                    </span>
                </div>
                <div class="col-xs-5 text-center">
                    <span class="text-primary text-capitalize" style="font-weight: 300; font-size: 18px;">{{currentBranch}} Branch</span>
                    |&nbsp;{{date}}

                </div>

                <div class="col-xs-2">
                    <td><span class="text-primary text-capitalize text-bold">{{loginUser}}</span>
                        <table  style="width: auto; float: right;">
                            <tbody>
                                <tr>
                                    <td><a class="btn btn-primary"><span class="glyphicon glyphicon-bell"></span></a></td>
                                    <td><a class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span></a></td>
                                    <td><a class="btn btn-primary" ng-click="logout();"><span class="glyphicon glyphicon-user"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>

            <div class="index-content" ng-view>
                <!--CONTENT OF THE APP-->
            </div>
        </div>


        <!--index page loading animation-->		
        <div id="page-loading" class="page-loading">		
            <div class="spinner">		
                <div class="bounce1"></div>		
                <div class="bounce2"></div>		
                <div class="bounce3"></div>		
            </div>		
        </div>		
        <!--route loading animation-->		
        <div class="route-loading" ng-show="routeLoading">		
            <div class="spinner">		
                <div class="bounce1"></div>		
                <div class="bounce2"></div>		
                <div class="bounce3"></div>		
            </div>		
        </div>

        <!--js dependencies-->
        <!-- inject:js -->
        <!-- endinject -->
        <script type="text/javascript">
                    document.addEventListener("DOMContentLoaded", function (event) {
                        setTimeout(function () {
                            var element = document.getElementById("page-loading");
                            element.className += " exit";
                            setTimeout(function () {
                                element.parentNode.removeChild(element);
                            }, 250);
                        }, 1000);
                    });
        </script>
    </body>
</html>
